<div class="blog-index">
	{{#if heading}}<h1>{{{heading}}}</h1>{{/if}}
	<ul id="blog-index-entries">
		{{#articles}}
		<li>
			<a class="entry-link" href="/blog/{{filename}}.html">
				<h2>{{title}}</h2>
				<div class="description">{{description}}</div>
			</a>
			<div class="article-meta">
				<span class="date">{{date}}</span>
				{{#if ../show_entry_tags}}
				{{#if tags.length}}
					| {{> tag_list}}
				{{/if}}
				{{/if}}
			</div>
		</li>
		{{/articles}}
	</ul>

	<div id="blog-view-all-entries">
		<a href="/blog/all.html">View All Entries</a>
	</div>
</div>
